body{
	background-color: darkslateblue;
}

a{
	color: indianred;
	font-size: 30px
}

.homepage{
	color: aqua;
}

h2, p, li, ul {
	color: lightgrey;
}
p{
	font-size: 20px
}

.OOga{
	font-size: 30px;
}

#Booga{
	font-size: 25px;
}

#AboutMeHeader{
	text-align: center;
	border: 5px solid black; 
}

.Top{
	border: 1px solid black;
	text-align: justify-all;
	display: inline-block;
	width: 40vw;
	
}
ol{
	font-size: 40px;
}

.AboutMe{
	border: 1px solid black;
	height: 500px;
	
}
.Links{
	border: 1px solid black;
	vertical-align: top;
	height: 380px
	
}




#BigScroll{
	overflow: auto;
}

div.ToCAll{
	text-align: center;
	
}

.ToC1,.ToC2,.ToC3,.ToC4,.ToC5 {
	white-space: nowrap;
	border: 1px solid yellow;
	font-style: oblique;
	
}

.ToC1 {
	color: darkgoldenrod;
	width: 170px;
	display: inline-block;
	
	
}
.ToC2 {
	color: whitesmoke;
	width:140px;
	display: inline-block;
	
}
.ToC3 {
	color: khaki;
	width: 150px;
	margin-right: 0px;
	display: inline-block;
	
}
.ToC4 {
	color: greenyellow;
	width: 240px;
	border-radius: 0px;
	display: inline-block;
	
	
}
.ToC5 {
	color: lightcoral;
	display: inline-block;
	width: 180px;
	
	
}

.Pics{
	Border: 4px solid black;
}

.Picss{
	Border: 4px solid black;
	display: inline-block;
	width: 30vw
}

.HeaderPic{
	border: 4px solid black;
	font-size: 40px
}




