#SideBar{
	border: solid thin #6BD1F4;
	display: inline-block;
	width: 10vw;
	background-color: whitesmoke;
	vertical-align: top;
	height: 100vh;
}
#Table1{
	border: solid thin black ;
	background-color: whitesmoke;
	width: 12vw;
	height: 30vw;
	vertical-align: bottom;
	
}
#Everything{
	padding-left: 20px; 
	display: inline-block;
	width: 80vw;
}

.TopHalf{
	display: inline-block;
	width: 39vw;
}

.Photo{
	width: 250px;
}

#OO{
	padding-left: 50px;
}
#wikilogo{
	padding-left: 17px
}



.SideWords{
	padding-left: 9px;
	font-size: 13px;
}
#RightTable{
	display: inline-block;
	width:13vw;
	background-color: whitesmoke;
	text-align: center;
	align-content: center;
	vertical-align: top;
	margin-top: 90px;
	padding-right: 85px;
	padding-left: 25px;
	border: solid thin #000000;
}

#Bodys{
	display: inline-block;
	width: 50vw;
}




.DemoTable{
	border: solid thin black;
	display: inline-block;
	width: 11vw;
	justify-content: center;
	padding-left: 13px;
	padding-right: 25px;
}

.Col1{
	display: inline-block;
	width: 3vw;
	
	
}
.Col2{
	padding-left: 5px;
	display: inline-block;
	width: 3vw;
	text-align: end;
}
.Col3{
	padding-left: 7px;
	display: inline-block;
	width: 3vw;
	text-align: end;
	
}